html {
     background-color: #333333;
}
body {
     width: 65%;
     margin: 10px auto;
     padding: 10px;
     padding-bottom: 50px;
     border-radius: 5px;
     color: white;
     font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
     font-size: 1em;
     background-color: #292929;
     text-align: center;
      -webkit-animation: fadein 5s; /* Safari and Chrome */
       -moz-animation: fadein 5s; /* Firefox */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* H1, primarly for use with food suggestion result */
h1 {
    color: #39b54a;
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
}

/******************************* 
    
  PREFERENCE ICONS
    
*******************************/
#contentwrapper {
     width: 65%;
     margin: 0 auto;
     padding: 0;
     text-align: center;
     height: 100%;
     overflow: auto;
}
#contentwrapper div {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    border-radius: 5px;
    -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.7s;
    cursor: pointer;
}
#contentwrapper div:nth-child(4) {
    clear: left;
}
#contentwrapper div p {
    position:absolute;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle; 
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.icon {
     background-color: #0071bc;   
}
.icon-on {
     background-color: #39b54a;
}   
.icon-off {
     background-color: #333;
}

/* LOGO */
#logo {
     width: 270px;
     margin: 0 auto;  
}
#logo:hover {
    
}
/* Navigation Buttons */
#button {
     display: inline-block;
     width: 59%;
     color: white;
     text-decoration: none;
     font-size: 18px;
     font-family: Tahoma, Arial;
     background-color: #39b54a;
     border-radius: 5px;
     text-align: center;
     padding: 2%;
     margin: 2px auto;
     -webkit-transition: background-color 1s linear; /* For Safari 3.1 to 6.0 */
     transition: background-color 1s linear;
     cursor: pointer;
}
#button:hover {
     background-color: #7bf98f;
      
}
#tryAgain {
     display: inline-table;
     width: auto;
     color: white;
     text-decoration: none;
     font-family: Tahoma, Arial;
     background-color: #333;
     border-radius: 5px;
     text-align: center;
     padding: 10px;
     margin: 5px;
     -webkit-transition: background-color 1s linear; /* For Safari 3.1 to 6.0 */
     transition: background-color 1s linear;
     cursor: pointer;
}
#tryAgain:hover {
     background-color: #0071bc;
      
}

/* WRAPPERS */

#wrapper-home {
   width: 100%;
   height: auto;
}
#wrapper-results {
    
}


/* MAP STYLES */

#map-canvas {
    display: block;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    border-radius: 5px;
    border: solid 2.5px #333;
}
/* RESULTS TAB ON MAP PAGE*/

 #results {
        display: block;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: white;
        right: 5px;
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        background-color: transparent;
      }
      h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
      }
      li {
        background-color: transparent;
        padding: 10px;
      }
      li:nth-child(odd) {
        background-color: #333333;
      }
      #more {
     display: inline-table;
     width: 240px;
     color: white;
     text-decoration: none;
     font-size: 18px;
     font-family: Tahoma, Arial;
     background-color: #39b54a;
     border-radius: 5px;
     text-align: center;
     padding: 8px;
     margin: 5px;
     cursor: pointer;
     -webkit-transition: background-color 1s linear; /* For Safari 3.1 to 6.0 */
     transition: background-color 1s linear;
      }
    #more:hover {
    background-color: #6ae87e
    }

/* Smartphones (portrait and landscape) ----------- */

/* PC or Mac */
@media screen and (min-width: 768px) {
    body {
        width: 500px;
    }

    .icon:hover {
        background-color: #39b54a;
        cursor: pointer;
    }

    .icon-on:hover {
        background-color: #333;
        cursor: pointer;
    }

    .icon-off:hover {
        background-color: #0071bc;
        cursor: pointer;
    }
}
/* TABLET */
@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        width: 450px;
    }

    .icon:hover {
        background-color: #39b54a;
        cursor: pointer;
    }

    .icon-on:hover {
        background-color: #333;
        cursor: pointer;
    }

    .icon-off:hover {
        background-color: #0071bc;
        cursor: pointer;
    }
}
  

@media screen and (max-width: 480px) {
    
 body {
     width: 100%;
     margin: 0 auto;
     font-size: 0.75em;
     padding: 2%;
     border-radius: 0;
     background-color: #292929;
     text-align: center;
} 
    #logo {
     width: 60%;
     margin: 0 auto;
}
contentwrapper div:hover {
}
    

}




/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}