html {
     background-color: #333333;
}
body {
     width: 500px;
     margin: 10px auto;
     height: 550px;
     padding: 10px;
     border-radius: 5px;
     background-color: #292929;
     text-align: center;
}
.icon {
     width: 75px;
     height: 75px;
     background-color: #0071bc;
     display: inline-table;
     border-radius: 5px;
     margin: 5px;
}
.icon:hover{
     background-color: #55a3de
}
#contentwrapper {
     width: 500px;
     margin: auto;
}
#logo {
     width: 270px;
     margin: 0 auto;
    
}
#button a:link, #button a:visited {
     display: inline-table;
     width: 240px;
     color: white;
     text-decoration: none;
     font-size: 18px;
     font-family: Tahoma, Arial;
     background-color: #39b54a;
     border-radius: 5px;
     text-align: center;
     padding: 8px;
     margin: 5px;
}
#button a:hover {
     background-color: #6ae87e
}

input.btn
{
    background-color: #39b54a;
    color: #ffffff;
    border-width: 0px;
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.25em;    
}