html {
     background-color: #333333;
}
body {
     width: 500px;
     margin: 10px auto;
     height: auto;
     padding: 10px;
     padding-bottom: 50px;
     border-radius: 5px;
     color: white;
     font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
     background-color: #292929;
     text-align: center;
      -webkit-animation: fadein 5s; /* Safari and Chrome */
       -moz-animation: fadein 5s; /* Firefox */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* H1, primarly for use with food suggestion result */
h1 {
    color: #39b54a;
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
}

/* PREFERENCE ICONS */

.icon {
     display: inline-table;
     margin: 5px;
     width: 75px;
     width: 20%;
     height: 75px;
     background-color: #0071bc;
     border-radius: 5px; 
     -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
     transition: background-color 0.7s;
       
}
.icon p {
     display: table-cell;
     vertical-align: middle;    
}
.icon:hover{
    background-color: #39b54a;
    cursor: pointer;
     
}
.icon-on {
     width: 75px;
     width: 20%;
     height: 75px;
     -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
     transition: background-color 0.7s;
     background-color: #39b54a;
     display: inline-table;
     border-radius: 5px;
     margin: 5px;
}
.icon-on p {
     display: table-cell;
     vertical-align: middle;    
}
.icon-on:hover{
    background-color: #333;
    cursor: pointer;
     
}
.icon-off {
     width: 75px;
     width: 20%;
     height: 75px;
     -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
     transition: background-color 0.7s;
     background-color: #333;
     display: inline-table;
     border-radius: 5px;
     margin: 5px;
}
.icon-off p {
     display: table-cell;
     vertical-align: middle;    
}
.icon-off:hover{
    background-color: #0071bc;
    cursor: pointer;
     
}

#logo {
     width: 270px;
     margin: 0 auto;  
}
#logo:hover {
    
}
/* Navigation Buttons */
#button {
     display: inline-block;
     width: 240px;
     color: white;
     text-decoration: none;
     font-size: 18px;
     font-family: Tahoma, Arial;
     background-color: #39b54a;
     border-radius: 5px;
     text-align: center;
     padding: 8px;
     margin: 5px;
     -webkit-transition: background-color 1s linear; /* For Safari 3.1 to 6.0 */
     transition: background-color 1s linear;
     cursor: pointer;
}
#button:hover {
     background-color: #7bf98f;
      
}
#tryAgain {
     display: inline-table;
     width: auto;
     color: white;
     text-decoration: none;
     font-family: Tahoma, Arial;
     background-color: #333;
     border-radius: 5px;
     text-align: center;
     padding: 10px;
     margin: 5px;
     -webkit-transition: background-color 1s linear; /* For Safari 3.1 to 6.0 */
     transition: background-color 1s linear;
     cursor: pointer;
}
#tryAgain:hover {
     background-color: #0071bc;
      
}

/* WRAPPERS */

#wrapper-home {
     
}
#wrapper-results {
    
}
#contentwrapper {
     width: 500px;
     margin: 0 auto;
}

/* MAP STYLES */

#map-canvas {
    display: block;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    border-radius: 5px;
    border: solid 2.5px #333;
}
/* RESULTS TAB ON MAP PAGE*/

#results {
    display: block;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: white;
    right: 5px;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    background-color: transparent;
  }
  
h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#places li {
  background-color: transparent;
  padding: 10px;
}

#places li:nth-child(odd) {
  background-color: #333333;
}
      #more {
     display: inline-table;
     width: 240px;
     color: white;
     text-decoration: none;
     font-size: 18px;
     font-family: Tahoma, Arial;
     background-color: #39b54a;
     border-radius: 5px;
     text-align: center;
     padding: 8px;
     margin: 5px;
     cursor: pointer;
     -webkit-transition: background-color 1s linear; /* For Safari 3.1 to 6.0 */
     transition: background-color 1s linear;
      }
    #more:hover {
    background-color: #6ae87e
    }

/* Smartphones (portrait and landscape) ----------- */
  
@media screen and (max-width: 480px) {
    
 body {
     width: 100%;
     margin: 0 auto;
   
     padding: 2%;
     border-radius: 0;
     background-color: #292929;
     text-align: center;
}
  #contentwrapper {
     width: auto;
     margin: auto;
}  
#button a:link, #button a:visited {
    width: 60%;
    margin: 0;
}
    .icon {
     width: 20%;
     height: 70px;
     background-color: #0071bc;
     display: inline-table;
     border-radius: 5px;
     margin: 3px;
}
    
    #logo {
     width: 60%;
     margin: 0 auto;
    
}
    

}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}


.neutral {
    background-color: #333333;
}

.on {
    background-color: #39b54a;
    box-shadow: 0px 0px 20px #39b54a;
}

.off {
    background-color: #ff0000;
    box-shadow: 0px 0px 30px #ff0000;
    color: #000000;
}

.iconGrid {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.iconGrid ul {
    display:inline-block;
    margin: 0;
    padding: 0;
}

.iconGrid ul li {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    min-width: 5em;
    height: 4em;
    margin: 0.2em;
    border-radius: 0.333em;
}