
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="ffstyle.css">
    <title>FoodFinder Map Results</title>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="mapAPI.js"></script>
  </head>
  <body>
   <a href="index.html"><img src="logo.png" id="logo" alt="Logo"></a>
    <h1 id="foodkind">pizza</h1>
    <div id="map-canvas"></div>
    <div id="results">
      <h2>Places to Get It:</h2>
      <ul id="places"></ul>
      <div id="more" class="button">More results</div>
    </div>
  </body>
</html>
